@charset "utf-8";

/*
* The common things
*/

body {
    color: #222;
    background: #FAFAFA !important;
    padding-bottom: 10px;
    transition-duration: 0.5s;
}

hr {
    margin-bottom: 5px;
}

/*
* The border things
*/

.top-border-red {
    border-top: 5px solid #FF7373;
    padding-top: 10px;
}
.top-border-blue {
    border-top: 5px solid #0066FF;
    padding-top: 10px;
}
.top-border-orange {
    border-top: 5px solid #FF6600;
    padding-top: 10px;
}
.left-border-red {
    border-left: 6px solid #FF7373;
    padding-left: 5px;
}
.left-border-blue {
    border-left: 6px solid #56A5EB;
    padding-left: 5px;
}
.left-border-orange {
    border-left: 6px solid #FF6600;
    padding-left: 5px;
}
