{% set navigation_bar = [
    ("/", "home", "Home"),
    ("/feed", "feed", "Feed"),
    ("/result", "result", "Generated"),
    ("/api", "api", "API")
] -%}
{% set active_page = active_page|default('home') -%}
<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for href, id, caption in navigation_bar %}
        <li class="nav-item{% if id == active_page %} active{% endif %}">
          <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>